body {
  background-color: var(--bg);
}

.sign-up {
  color: var(--text);
  text-align: center;
}

.container {
  width: 600px;
  height: 800px;
  border-radius: var(--radius);
  margin: 55px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--form);
  gap: 15px;
  padding: 50px 0;
  box-shadow: var(--shadow);
}
.container p {
  width: 70%;
  text-align: right;
  color: var(--text);
}
.container p span {
  color: red;
}
.id-wrap {
  width: 70%;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.id-btn {
  color: var(--accent);
  text-align: center;
  padding: 0 20px;
  background-color: var(--side);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

.id-btn:hover {
  background-color: var(--accent);
  color: var(--header);
}

.input-box {
  width: 70%;
  height: 45px;
  border-radius: var(--radius);
  padding-left: 20px;
  border: 1px solid var(--sub);
}

.input-box:focus {
  outline: none;
  border: 2px solid var(--focus);
}

.gender-box{
  width: 70%;
  height: 45px;
  display: flex;
}

.gender-wrap{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
}

.radio {
  display: none;
}

.custom-box {
  border: 1px solid var(--sub);
  background-color: white;
  width: 100px;
  height: 45px;
  display: inline-block;
  border-radius: var(--radius);
  font-size: 14px;
  color: gray;
  text-align: center;
  line-height: 45px
}

.male {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.female{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.radio:checked + .custom-box {
  background-color: var(--side);
  color: var(--accent);
}

.sign-up-btn {
  width: 70%;
  height: 45px;
  color: var(--accent);
  border-radius: var(--radius);
  border: none;
  background-color: var(--side);
  cursor: pointer;
}

.sign-up-btn:hover {
  background-color: var(--accent);
  color: var(--header);
}