button {
  border: none;
}

a {
  color: inherit;
}

p {
  cursor: default;
}

.container {
  width: 100%;
  background-color: var(--bg);
  display: flex;
  min-height: calc(100vh - 50px);
}

.header {
  height: 50px;
  background-color: var(--header);
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.header-button {
  width: 100px;
  height: 40px;
  margin: 10px 0;
  background-color: var(--side);
  color: var(--header);
  border-radius: var(--radius);
  cursor: pointer;
}

.header-button:hover {
  background: var(--accent);
}

.side-nav {
  width: 20%;
  min-width: 250px;
  background-color: var(--side);
  color: var(--text);
  position: relative;
}

.side-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  position: absolute;
  top: 80px;
}

.home-wrap {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
}

.home-wrap:hover {
  transform: translateY(-2px);
}

.home-wrap a{
  font-size: 24px;
}

.home-wrap img {
  width: 24px;
  height: 24px;
}

.search-wrap {
  width: 80%;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.search-img {
  width: 24px;
  height: 24px;
}

.search-bar {
  width: 100%;
  height: 40px;
  min-width: 200px;
  background-color: var(--bg);
  border: none;
  color: var(--accent);
  font-size: 14px;
  padding: 0 12px;
  border-radius: var(--radius);
}

.search-bar::placeholder {
  text-align: right;
  font-size: 12px;
  color: var(--sub);
}

.search-bar:focus {
  outline: none;
  background-color: var(--header);
  border: 2px solid rgb(238, 164, 138);
}

.search-wrap p{
  font-size: 24px;
  
}

.side-project-list {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
}
.project-wrap {
  display: flex;
  min-width: 200px;
  align-items: center;
  gap: 10px;
}

.project-wrap img {
  width: 24px;
  height: 24px;
}

.project-wrap p {
  font-size: 24px;
}
.project-wrap:hover {
  transform: translateY(-2px);
}

.side-project {
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.side-project-list:hover {
  height: 600px;
  transition: all 0.3s ease-in-out;
}

.side-project-list:hover .side-project {
  color: var(--accent);
}

.side-project-list:hover .side-project a {
  color: var(--text);
}

.side-project a:hover {
  color: var(--primary) !important
}

.setting-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  margin: 10px;
  cursor: pointer;
}

.main {
  width: 100%;
  padding: 50px;
  color: var(--text)
}