.model-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999;
  cursor: pointer;
}

.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  background: #f9eae2;
  padding: 40px;
  border-radius: var(--radius);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
  min-width: 350px;
}
.model h2 {
  text-align: center;
  margin-bottom: 20px;
}

.model form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.model input,
.model select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: var(--radius);
}

.model textarea {
  flex: 1;
  min-width: 300px;
  max-width: var(--form-width);
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  font-size: 14px;
}

.model input:focus {
  outline: none;
  border: 2px solid rgb(238, 164, 138);
}
.model select:focus {
  outline: none;
  border: 2px solid rgb(238, 164, 138);
}

.model textarea:focus {
  outline: none;
  border: 2px solid rgb(238, 164, 138);
}

#modelToggle:checked ~ .medel-overlay {
  opacity: 1;
  visibility: visible;
}

#modelToggle:checked ~ .model {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}